/*  your css code here. If applicable */
table{
	border-collapse:collapse;
}
td{
	border:1px solid black;
	padding:5px;
}
.container{
	background-color:rgb(203, 214, 203);
	width:1100px;
}

.imageContainer{
	width:250px;
	height:150px;
}

.fc{
	width:200px;
	
}
.sc{
	width:600px;
	text-align:center;
	
}
.tc{
	width:200px;
}
ol{
	display:inline-block;
	text-align: left;
}







	

